{% extends 'templates/base.twig' %}

{% block body %}
    <div class="exception">
        <div class="exception_code">{{ code }}</div>
        <div class="exception_message">{{ message }}</div>
    </div>
{% endblock %}